version: "3.9"

services:
  # PHP + Composer + Laravel
  app:
    build: .
    container_name: laravel_app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    ports:
      - "8000:8000"
    depends_on:
      - mysql
    command: >
        sh -c "
          apt-get update &&
          apt-get install -y unzip git libpng-dev libonig-dev libxml2-dev zip libzip-dev libicu-dev g++ &&
          docker-php-ext-configure zip &&
          docker-php-ext-install pdo_mysql mbstring exif pcntl bcmath gd zip intl &&
          curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer &&
          composer install &&
          php artisan key:generate &&
          php artisan serve --host=0.0.0.0 --port=8000
        "

  # MySQL Database
  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel_db
      MYSQL_USER: laravel_user
      MYSQL_PASSWORD: laravel_pass
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  # phpMyAdmin for DB Management
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: laravel_phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - mysql

volumes:
  mysql_data:
